body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #e6e0d9; }
  body a {
    color: #336699; }
  body h2 {
    padding-bottom: 12px;
    font-weight: bold; }
  body h3 {
    padding-bottom: 10px; }
  body pre {
    display: block;
    background-color: #f8f8ff;
    border: 1px solid #dedede;
    color: #444444;
    line-height: 1.5em;
    margin-bottom: 10px;
    padding: 0.5em; }
  body ul.bulleted {
    margin-left: 20px;
    margin-bottom: 10px; }
    body ul.bulleted li {
      list-style-type: square; }
      body ul.bulleted li span {
        font-weight: bold; }

#container {
  width: 80%;
  margin: 40px auto 20px;
  overflow: hidden;
  position: relative;
  min-height: 500px; }

header {
  padding: 20px 10px 0px 10px;
  overflow: hidden;
  border-bottom: 2px solid #ec9a94;
  position: relative; }
  header a {
    text-decoration: none; }
  header #title {
    float: left; }
  header h1 {
    font-size: 2.3em;
    font-weight: bold;
    margin-bottom: 0px; }

#login {
  position: absolute;
  bottom: 0;
  right: 0; }

#post-header a {
  text-decoration: none; }

nav {
  padding-top: 5px; }
  nav #links {
    float: left; }

#main {
  width: 600px;
  padding-top: 20px; }
  #main h2 {
    font-size: 2.1em; }
  #main .post {
    margin-bottom: 20px; }
    #main .post p {
      padding-bottom: 10px; }
    #main .post .title {
      font-family: "Georgia,Times New Roman,serif";
      font-size: 2em;
      color: #752a26; }
      #main .post .title a {
        color: #752a26;
        text-decoration: none; }
        #main .post .title a:hover {
          text-decoration: underline; }
    #main .post .date {
      font-size: 1.1em;
      color: #999999;
      display: block;
      margin-bottom: 15px;
      margin-top: 2px; }
    #main .post .body {
      padding-bottom: 10px; }
    #main .post .details {
      border-top: 1px solid #cccccc;
      margin-bottom: 0.25em;
      padding: 5px 0;
      overflow: hidden; }
      #main .post .details .author {
        float: left;
        padding-right: 5px;
        border-right: 1px solid #cccccc; }
  #main #show .author {
    border-right: none; }

#sidebar {
  padding: 20px;
  margin-left: 20px;
  float: left;
  height: 650px;
  width: 320px;
  border: 1px dotted black; }
  #sidebar p {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 12px; }

#about h2 {
  font-family: "Georgia,Times New Roman,serif";
  font-size: 2em;
  color: #752a26; }
#about h3 {
  font-family: "Georgia,Times New Roman,serif";
  font-size: 1.5em;
  color: #752a26;
  padding-bottom: 6px; }
#about p {
  padding-bottom: 12px; }

footer {
  border-top: 2px dotted #ec9a94; }
  footer a {
    text-decoration: none; }

#balance {
  float: left;
  font-size: 2.3em;
  font-weight: bold;
  margin-bottom: 0px; }

#jpy {
  position: relative;
  top: 20px;
  left: 5px; }

#clear {
  clear: both; }
