$border-color: #ec9a94;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #e6e0d9;
  header {
    padding: 20px 10px 0px 10px;
    overflow: hidden;
    border-bottom: 2px solid $border-color;
    position: relative;
  }
  nav {
    padding-top: 5px;
    #links {
      float: left;
    }
  }
  footer {
    border-top: 2px dotted $border-color;
  }
  a {
    color: #336699;
    text-decoration: none;
  }
  h1 {
    font-size: 2.3em;
    font-weight: bold; 
    margin-bottom: 0px;
  }
  h2 {
    padding-bottom: 12px;
    font-weight: bold; 
  }
  h3 {
    padding-bottom: 10px; 
  }
  pre {
    display: block;
    background-color: #f8f8ff;
    border: 1px solid #dedede;
    color: #444444;
    line-height: 1.5em;
    margin-bottom: 10px;
    padding: 0.5em; 
  }
  ul.bulleted {
    margin-left: 20px;
    margin-bottom: 10px;
    li {
      list-style-type: square;
      span {
        font-weight: bold;
      }
    }
  }
}

#title {
  float: left;
}

#container {
  width: 80%;
  margin: 40px auto 20px;
  overflow: hidden; 
  position:relative;
  min-height: 500px;
}

#login {
  position: absolute;
  bottom: 0;
  right: 0;
}

#post-header {
}

#main {
  width: 600px;
  padding-top: 20px;
  h2 {
    font-size: 2.1em; 
  }
}

#current {
  #balance {
    float: left;
    font-size: 2.3em;
    font-weight: bold; 
    margin-bottom: 0px;
  }
  #jpy {
    position: relative;
    top: 20px;
    left: 5px;
  }
}

#clear {
  clear: both;
}
