%table
  %h1
    =@account.balance.current
    JPY
  -@documents.each do |docoment|
    %tr
      %td=docoment.amount
      %td=escape_html(docoment.comment)
      %td=time_ago_in_words(docoment.created_at)
