!!! 5
%html
  %head
    = stylesheet_link_tag 'application'
  %body
    %header
      %h1#title title
      #login
        - if @account
          ="Logined as " + link_to("@#{@account.nickname}", "http://twitter.com/#{@account.nickname}")
          %img{'src' => @account.image}
          =link_to('Logout',  '/destroy')
        - else
          ="Not logged in"
    #post-header
      %nav
        #links
          -#=link_to('About',  '/about')
          =link_to('List',  '/list')
          =link_to('Authorize',  '/authorize')
    #container
      - if @account
        #current
          #balance
            =@account.balance.current
          #jpy
            JPY
        #clear
      #main= yield
    %footer
      %small
        ="Copyright (c) 2011 " + link_to('@marutanm', 'http://twitter.com/marutanm')
