!!! 5
%html
  %head
    = stylesheet_link_tag 'application'
  %body
    %header
      %nav
        #links
          =link_to('About',  '/about')
          =link_to('List',  '/list')
          =link_to('Spend',  '/spend')
          =link_to('Logout',  '/destroy')
    #container
      #main= yield
    %footer
      %small
        Copyright (c) 2011 marutanm
